
.progreso{
    flex-direction: row;
    width: 100% !important;
    height: 10px;
    background-color: #e5e5e5;
}

.blue{
    background-color: #09a7c4;
    height: 100%;
}

.blue p{
    text-align: center;
    color: #000;
    padding-top: 15%;
    font-family: 'Glacial-Regular';

}